
ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 1px;
    /* padding: 0px; */
}


a:after {}

a::before {}

a:hover {
    color:tomato;
    /* font-weight: 700; */
    text-decoration: none;

}

#leftside {
    display: flex;
    align-items: center;
}


#leftside-name {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.42px;

    font-size: 32px;
    color: red;

}

body {
    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "desc desc desc"
    "content content content"
    "about about about"
    "footer footer footer";

    grid-template-columns: 20% 1fr 1fr;


    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.074em;
}



nav {
    grid-area: nav;
    background-color: white;
    padding: 5px;
}

#nav-wrapper {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;

    margin-inline: auto;
    padding-inline: 15px;
    max-width: 1100px;
}


#rightside>ul {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

#rightside>ul>li>a {
    font-weight: 700;
    text-transform: uppercase;
    margin-inline: 10px;
    text-align: center;
    line-height: 0px;
    color:black;
}


#rightside>ul>li>a:hover {
    color:red;
    text-decoration: none;
}

.btn-group {
    width: 100%;
}
.btn-group > button {
    padding-inline: 10px;
}
header {
    grid-area: desc;
    color: white !important;
    background-color: black;
}
#descblock {
    display: flex;
    justify-content: space-around;
}

#descblock>div {
    padding-block: 20px;
}

#descblock>img {
    width: 200px;
    min-width: 200px;
}

#descblock>div>button {
    font-size: 20px;
    font-weight: 700;
    margin: auto;
    margin-block: 20px;
}

/* Content block */
#mainblock {
    grid-area: content;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;

    margin-inline: auto;
    /* padding-inline: 15px; */
    padding-block: 20px;
    max-width: 1300px;
    width: 100%;
}

#replaceable-cardblock {
    /* grid-area: content; */
}

.contentMeta {
    margin-block: 10px;
    color: black;    
}

.contentMeta>h3 {
    text-transform: uppercase;
    font-weight: 700;
}
.contentMeta>h3>span {
    color:#bf211e;
}


.card-body {
    padding-bottom: 0px;
}

.card-body>button {
    width:100%;
    font-size: 20px !important;
    font-weight: 700;
}
.card-body>a {
    color:lightcoral;
    font-size: large;
}


/*! Filter block */
aside.card  {
    justify-content: flex-start !important;
    min-width: 300px;
    background-color: white;
    color: black
    
}


aside {
    grid-area: sidebar;
    background-color: violet;

    color:lightseagreen;
    margin-top: 50px;
    
}


aside>form>ul {
    padding: 0px;
}

aside>form>ul>li {
    text-align: start;
    width: 100%;
}

select {
    width: 100%;
}

.nav {
    padding-block: 0px;
}

.nav-item>a {
    padding-block: 0px;
}


.custom-control {
    margin-inline: 20px;
    margin-block: 0px !important;
}


.custom-range-input-block {
    display: flex;
    justify-content: space-between;
}

.custom-range-input-block>input {
    width: 120px;
}

.custom-range-input-outer {
    padding-inline: 20px;
}


select {
    width: 250px !important;
    margin-inline: 20px;
    padding-block: 0px;

}


.btn-group>button {
    margin-block: 0px;
}

/*  */
.input-group-append {
    height: 38px;
}



#main-content {
    flex-grow: 1;
    width: 720px;
}

#main-content>hr {
    margin-left: 15px;
}

.card-block {
    display: flex;
    flex-wrap: wrap;

}

.card {
    /* background-color: lightgreen; */
    font-size: 20px;
    color:black !important;
    
    max-width: 300px;
    width: 300px;
    text-align: center;
    border: none;
    border-radius: none;
    justify-content: space-between;
    margin-inline: auto;
}

.card>h2 {
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 0.8;

}

.card>img {
    width: 100%;
}


.card-meta-info {
    text-align: start;
}


/* Paginator */
.paginate-button {
    width: 100%;
    font-size: 30px !important;
}

.paginate-block {
    display: flex;
    justify-content: center;
    padding-inline: 30%;
}


/* Search box */

#searchbox>form {
    flex-wrap: nowrap !important;
    justify-content: center;
    width: 100%;
}


#search-field-text {
    width: 500px !important;
    border-radius: 0px;
    border-start-start-radius: 50px;
    border-end-start-radius: 50px;
}

#search-field-button {
    border-radius: 0px;
    border-start-end-radius: 50px;
    border-end-end-radius: 50px;
    margin: 0px;
    padding: 0.57rem 1.14rem;
    font-size: 14px;
}



.form-inline>button {
    margin: 0px;
    margin-left: 5px;
}










/* Section block */
section {
    grid-area: about;
    background-color: orangered;
    color:black;
    padding-inline: 40px;
    padding-block: 40px;

}

.section-header>* {
    font-weight: 700;
}



#sectionContent {
    display: flex;
    justify-content:space-between;

    max-width: 1110px;
    margin-inline: auto;

}


#left-section-content {
    width:50%;
}
#left-section-content>a>button {
    width: 100%;
    font-size: 28px;
    font-weight: 700;
}


#right-section-content {}


/* Footer */


footer {
    grid-area: footer;
    

    background-color: #1e1e24;
    padding-top: 20px;
    color: white;
    padding-inline: 100px;

}

footer>div {
    display: flex;
    justify-content: space-around;

    max-width: 1100px;
    margin-inline: auto;
    width: 1110px;
    align-items: center;
}


footer>div>img {
    margin-bottom: 20px;
    width: 64px;
}

#footer-contact {
    font-size: 20px;
}

/* Element styling */

/* Button styling */
button {
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 28px;
    font-weight: 700;

    margin: 20px;
    padding-block: 5px;

}

button:hover {
    background-color: green;
    color:white
}


.btn.disabled, .btn:disabled {
    opacity: 1;
}

/*  */




/* Filter slider */
.irs--flat {
    margin-block: 20px;
}



.sorting_block {
    display: flex;
    align-items: center;
    margin-inline: 20px;
}

.sorting_block>select {
    margin: 0px;
    margin-right: 3px;
}

/* Floating button */
label[for="toggle"] {
    display: block;
    margin-bottom: 0;
}

.btn-floating {
    padding: 10px;
    border-radius: 30px;
}

#floating-filter-button {
    position: fixed;
    right: 10px;
    top: 20px;
    z-index: 1000;

    display: none;
}

/*  */

.mb-3 {
    margin-bottom: 0px !important;
} 

.irs--flat {
    height: 50px;
    margin-top: 0px;   
}

/* Width less or equal 970px */
@media screen and (max-width: 980px) {
#leftside-name {
    display: none;
}
#floating-filter-button {
    display: block;
}
#descblock>img {
    display: none;
}
#descblock>div>button {
    width: 100%;
}
#mainblock>aside {
    display: none;
    width: 100%;
    max-width: none;
    margin-top: 0px;
    margin-bottom: 50px;
}

#mainblock {
    padding-block: 0px;
}

#searchbox>form {
    margin-top: 10px;
}


#leftside {
    margin-bottom: 20px;
}
#rightside>ul {
    flex-wrap: wrap;
}

#main-content {
    width: 100%;
}

.paginate-block {
    padding-inline: 0px;
}


section {
    width: 100%;
    padding-inline: 0px;
}

#right-section-content {
    display: none;
}

#left-section-content {
    width: 100%;
    padding-inline: 30px;
}


footer>div {
    flex-wrap: wrap;
    width: 100%;
}


}



@media screen and (max-width: 700px) {
.card-block {
    padding-left: 50px;
}

}
