

{% if bonuses %}   
    <div class='contentMeta text-center'>
        <h3>Лучшие бонусы({{ bonuses.count }})</h3>
    </div>
    <!-- Card block -->
    <div class="cardBlock">

        {% for bonus in bonuses %}
        
        <!-- Card element -->
        <div class='card'>
            <!-- Casino image -->
            {% if bonus.image %}
                <img src="{{ bonus.image.url }}" alt="{{ bonus.suplier }}">
            {% else %}
                <img src="{{ bonus.suplier.image.url }}" alt="{{ bonus.suplier }}">
            {% endif %}
            
            <h2>{{ bonus.two_word_desc }}</h2>
            <p>{{ bonus.bonus_desc }}</p>
            <a href="">Другие бонусы от <span>{{ bonus.suplier }}</span></a>
    
            <a href=""><button class='card-button'>ЗАБРАТЬ</button></a>
        </div>
        <!-- /Card element -->
        {% endfor %}
    </div>
            
    <!-- Paginator -->
    <div class='paginateBlock'>
        <button id='paginatorButton1' data-page='{{ request.GET.page }}' class='paginateButton'>БОЛЬШЕ</button>
    </div>

    <!-- /Paginator -->
    {% else %}
    <div class='contentMeta text-center'>
            <h3>Бонусов не найдено ):</h3>
        </div>
    {% endif%}
    
    
    <!-- Sweet Bonuses content block -->
    
    {% if sweet_bonuses %}
        <div class='contentMeta text-center'>
            <h3>Бесплатные бонусы({{sweet_bonuses.count}}+)</h3>
        </div>
                
        <!-- Card block -->
        <div class="cardBlock">
            {% for sweet_bonus in sweet_bonuses %}
            
            <!-- Card element -->
            <div class='card card-free'>
                <!-- Casino image -->
                {% if bonus.image %}
                    <img src="{{ sweet_bonus.image.url }}" alt="{{ sweet_bonus.suplier }}">
                {% else %}
                    <img src="{{ sweet_bonus.suplier.image.url }}" alt="{{ sweet_bonus.suplier }}">
                {% endif %}
    
                <div class='card-free-label'>FREE</div>
                        
                <h2>{{ sweet_bonus.two_word_desc }}</h2>
                <p>{{ sweet_bonus.bonus_desc }}</p>
                        
                <a href="">Другие бонусы от <span>{{ sweet_bonus.suplier }}</span></a>
        
                <a href=""><button class='card-button'>ЗАБРАТЬ</button></a>
            </div>
            {% endfor %}
            <!-- /Card element -->
              
                    
        </div>
        <!-- /Card block -->
    
        <!-- Paginator -->
        <div class='paginateBlock'>
            <a href=""><button class='paginateButton'>БОЛЬШЕ</button></a>
        </div>
        <!-- /Paginator -->
        {% endif %}
        
    